/* NavMenu.css */
.navbar-main {
    background-color: #282c34; /* Darker background */
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Vertical alignment */
    padding: 0.5rem 1rem;
  }
  
  .navbar-main .navbar-brand {
    color: #007bff;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .navbar-main .nav-link {
    color: #007bff;
    margin-right: 25rem; /* Space between links */
    align-items: center;
    font-weight: bold;
  }
  
  .navbar-main .nav-link:hover, .navbar-main .nav-link:focus {
    color: #adb5bd;
  }
  
  .navbar-main .active {
    color: #007bff;
    font-weight: bold;
    align-items: center;
    margin-right: 25rem;
  }

 .navbar-main .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar-main .navbar-nav {
    display: flex;
    justify-content: space-between;
 }
